.checkout{
    background-color: white;
    display: flex;
    min-height: 50vh;
    padding: 25px;
    max-width: 1100px;
    margin: 60px auto;
}

.checkout__right{
    flex: 1;
    background-color: #edebf3;
    max-height: 35vh !important;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
}

.checkout__rightCheckBox{
    display: flex;
    justify-content: start;
    align-items: center;
}

.checkout__rightCheckBox > p{
    margin-left: 4px;
    margin-bottom: 2px;
    font-weight: 400;
    font-size: small;
}

.checkout__right > button{
    cursor: pointer;
	border: 1px solid #282a2c;

	*background: url(https://stevefitzpatrick.co.uk/demos/amazoncart.png) no-repeat 2px 2px #FFEEC7; /* old browsers */
	background-image: url(https://stevefitzpatrick.co.uk/demos/amazoncart.png), 
		-moz-linear-gradient(top, #FFEEC7 0%, #FFE39D 49%, 
				#FFE7AA 50%, #FFD057 56%, 
				#B49034 100%); /* firefox */
	background-image: url(https://stevefitzpatrick.co.uk/demos/amazoncart.png), 
		-webkit-gradient(linear, left top, left bottom, 
				color-stop(0%,#FFEEC7), color-stop(49%,#FFE39D), 
				color-stop(50%,#FFE7AA), color-stop(51%,#FFD057), 
				color-stop(100%,#B49034)); /* webkit */

	*background-image: url(https://stevefitzpatrick.co.uk/demos/amazoncart.png); /* Deucey IE hack to get image to appear */

	background-repeat: no-repeat;
	background-position: 0 1px;
    padding: 10px;
    width: 100%;
    margin: 10px 0;
    border-radius: 3px;

}

.checkout__left{
    flex: 3;
    
}

.checkout__left > img{
    width: 100%;
    object-fit: contain;
}

.checkout__leftCartItems{
    padding: 10px;
    
}

.checkout__leftCartItems > h2{
    border-bottom: 1px solid #b6abab85;
    margin: 5px 0;
    padding-bottom: 13px;
}

.checkout__leftCartItemsAll{
    display: flex;
    align-items: center;
    margin: 20px auto; 
}


.checkout__leftCartItemsAll > img{
    object-fit: contain;
    max-width: 150px;
    max-height: 120px;
    flex: 1;
}

.checkout__leftCartItemsAllInfo{
    justify-self: center;
    flex: 1;
    margin-left: 20px;
}

.checkout__leftCartItemsAllInfo > button{

    margin-top: 18px;
        cursor: pointer;
	border: 1px solid #282a2c;

	*background: url(https://stevefitzpatrick.co.uk/demos/amazoncart.png) no-repeat 2px 2px #FFEEC7; /* old browsers */
	background-image: url(https://stevefitzpatrick.co.uk/demos/amazoncart.png), 
		-moz-linear-gradient(top, #FFEEC7 0%, #FFE39D 49%, 
				#FFE7AA 50%, #FFD057 56%, 
				#B49034 100%); /* firefox */
	background-image: url(https://stevefitzpatrick.co.uk/demos/amazoncart.png), 
		-webkit-gradient(linear, left top, left bottom, 
				color-stop(0%,#FFEEC7), color-stop(49%,#FFE39D), 
				color-stop(50%,#FFE7AA), color-stop(51%,#FFD057), 
				color-stop(100%,#B49034)); /* webkit */

	*background-image: url(https://stevefitzpatrick.co.uk/demos/amazoncart.png); /* Deucey IE hack to get image to appear */

	background-repeat: no-repeat;
	background-position: 0 1px;
    padding: 4px 7px;
    border-radius: 3px;
}

.checkout__title{
    font-weight: 500;
    margin-bottom: 5px;
}

.checked{
    color: orange;
}

@media (max-width: 580px){
    .checkout{
        flex-direction: column; 
        margin-top: 140px;
    }

    .checkout__leftCartItems > h2{
        font-size: x-large;
    }
    .checkout__right{
        min-height: 30vh;
        margin: 0 40px;

    }

    .checkout__leftCartItemsAll{
        display: flex;
        flex-direction: column;
    }

    .checkout__leftCartItemsAllInfo{
        padding: 20px 22%;
        align-self: flex-start;
    }



}