.login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__logo{
    margin-top: -35px;
    object-fit: contain;
    width: 200px;
    z-index: -1;;
    /* height: 150px; */
}

.login__container{
    margin-top: -30px;
    background-color: white;
    min-height: 50vh;
    min-width: 50vh;
    max-width: 55vh;
    padding: 30px;
    border-radius: 2px;
    box-shadow: black;
}

.login__container > h3{
    text-align: center;
    margin: 5px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #cec9c1;
}

.login__container > form{
    padding: 10px 0;
}

.login__container > form > input{
    display: block;
    padding: 6px 0;
    width: 100%;
    margin: 5px 0;
}

.login__container > p{
    font-weight: 300;
    font-size: small;

}

.login__container > form > button{
    cursor: pointer;
	border: 1px solid #282a2c;

	*background: url(https://stevefitzpatrick.co.uk/demos/amazoncart.png) no-repeat 2px 2px #FFEEC7; /* old browsers */
	background-image: url(https://stevefitzpatrick.co.uk/demos/amazoncart.png), 
		-moz-linear-gradient(top, #FFEEC7 0%, #FFE39D 49%, 
				#FFE7AA 50%, #FFD057 56%, 
				#B49034 100%); /* firefox */
	background-image: url(https://stevefitzpatrick.co.uk/demos/amazoncart.png), 
		-webkit-gradient(linear, left top, left bottom, 
				color-stop(0%,#FFEEC7), color-stop(49%,#FFE39D), 
				color-stop(50%,#FFE7AA), color-stop(51%,#FFD057), 
				color-stop(100%,#B49034)); /* webkit */

	*background-image: url(https://stevefitzpatrick.co.uk/demos/amazoncart.png); /* Deucey IE hack to get image to appear */

	background-repeat: no-repeat;
	background-position: 0 1px;
    padding: 10px;
    width: 100%;
    margin: 10px 0;
    border-radius: 3px;
}

.login__container > form > .btn{
    margin: 15px 0;
    padding: 7px 3px;
    width: 100%;
    cursor: pointer;
}


.login__container > .message{
    color: black;
    font-weight: 500;
    text-align: center;
    padding: 10px 0;
    border: 
    2px solid orange;
    background-color: rgba(238, 168, 38, 0.377);
    border-radius: 3px;
    
}