.checked{
    color: orange;
}

.product{
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 1;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 400px;
    min-width: 100px;
    margin: 10px;
    opacity: .7;
}

.product__price{
    margin-top: 5px;
}

.product > img{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product__info{
    margin-right: auto;
    margin-bottom: auto;
    height: 100px;
}

.product > button{
    cursor: pointer;
	border: 1px solid #282a2c;

	*background: url(https://stevefitzpatrick.co.uk/demos/amazoncart.png) no-repeat 2px 2px #FFEEC7; /* old browsers */
	background-image: url(https://stevefitzpatrick.co.uk/demos/amazoncart.png), 
		-moz-linear-gradient(top, #FFEEC7 0%, #FFE39D 49%, 
				#FFE7AA 50%, #FFD057 56%, 
				#B49034 100%); /* firefox */
	background-image: url(https://stevefitzpatrick.co.uk/demos/amazoncart.png), 
		-webkit-gradient(linear, left top, left bottom, 
				color-stop(0%,#FFEEC7), color-stop(49%,#FFE39D), 
				color-stop(50%,#FFE7AA), color-stop(51%,#FFD057), 
				color-stop(100%,#B49034)); /* webkit */

	*background-image: url(https://stevefitzpatrick.co.uk/demos/amazoncart.png); /* Deucey IE hack to get image to appear */

	background-repeat: no-repeat;
	background-position: 0 1px;
    padding: 4px 7px;
    border-radius: 3px;
}
@media (max-width:580px){
    .product{
        width: 90%;
        margin: 5px auto;
    }
    

}

